.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s linear;
  background-color: white !important;
  padding: 18px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.Logo {
  font-weight: 600;
  font-size: 20px;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  color: #282a36;
  transition: 0.3s linear;
}

.HeroContainer {
  padding: 200px 60px;
  text-align: left;
  display: flex;
  gap: 125px;
}

.HeroTitle {
  font-size: 4em;
  color: #282a36;
  margin-bottom: 20px;
}

.HeroSubtitle {
  font-size: 1.3em;
  width: 600px;
  color: #777;
  margin-bottom: 40px;
}
.HeroButton {
  background-color: #ff77a8;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff598d;
    color: white;
  }
}
.HeroContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.HeroIcons {
  width: 45px;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.scroll-indicator {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1.5s infinite ease-in-out;
  font-size: 1.7em;
  color: #333;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px); /* Подпрыгивание вверх */
  }
}
