@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,400;1,400&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #282a36;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s linear;

  &:hover {
    color: #ff77a8;
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

img {
  /* max-width: 100%; */
  height: auto;
  vertical-align: middle;
}

*,
*::before,
*::after {
  border: 0 solid #dee2e6;
}
